{{csrf}}
                <ul id="dashboard-nav">
                    <li class="first">Statistics</li>
                    <li><a href="/admin/upload">Upload</a></li>
                    <li><a href="/admin/reports">Reports</a></li>
                    <li><a href="/admin/groups">Groups</a></li>
                    <li><a href="/admin/users">Users</a></li>
                    <li><a href="/admin/funds">Funds</a></li>
                    <li><a href="/admin/lists">Lists</a></li>
                    <li class="last"><a href="/admin/validation">Validation</a></li>
                </ul>	
				<div id="header-spacer"></div>
