{% extends "base.html" %}

{%block title %}Privacy{% endblock %}

{%block scripts %}
{% endblock %}
{% block content %}
<div id="privacy-terms">
    <h3>PRIVACY</h3>
    <p>
        The IFIC website does not collect any personal information from you when you access it, unless you volunteer that information for a particular purpose. Other than in response to an inquiry from you, or your request to be informed of periodic website updates, you will not receive any email or other communication from us as a result of your using our website. IFIC is not responsible for the privacy practices of external websites, including those to which we may provide links.
    </p>
    <p>
        IFIC does not collect personal information through the use of cookies.
    </p>
    <p>
        To help us improve our site, we do gather information about how our site is used. Our web server automatically collects each visitor's domain name and certain other related information, such as aggregate generic information about user visits.
    </p>
</div>
{% endblock %}