{% extends "base.html" %}

{%block title %}Terms{% endblock %}

{%block scripts %}
{% endblock %}
{% block content %}
<div id="privacy-terms">
    <h3>PRIVACY</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
    Phasellus nec lacus eget magna consectetur sodales.
     Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
      Curabitur nec quam mi. Morbi sagittis fringilla lacus vitae auctor. Mauris sit amet neque purus. 
      Quisque fringilla lobortis tempus. Fusce venenatis arcu in risus tempus posuere. 
      Fusce massa turpis, porttitor ac feugiat sed, aliquet ut felis.
    </p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
    Phasellus nec lacus eget magna consectetur sodales.
     Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
      Curabitur nec quam mi. Morbi sagittis fringilla lacus vitae auctor. Mauris sit amet neque purus. 
      Quisque fringilla lobortis tempus. Fusce venenatis arcu in risus tempus posuere. 
      Fusce massa turpis, porttitor ac feugiat sed, aliquet ut felis.
    </p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
    Phasellus nec lacus eget magna consectetur sodales.
     Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
      Curabitur nec quam mi. Morbi sagittis fringilla lacus vitae auctor. Mauris sit amet neque purus. 
      Quisque fringilla lobortis tempus. Fusce venenatis arcu in risus tempus posuere. 
      Fusce massa turpis, porttitor ac feugiat sed, aliquet ut felis.
    </p>
    
    <ul>
        <li>List 1</li>
        <li>List 2</li>
        <li>List 3</li>
        <li>List 4</li>
    </ul>
</div>
{% endblock %}